@font-face {
  font-family: "Gilroy Semi-Bold";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../assets/Gilroy-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/bgImage.svg");
}

.text {
  font-family: Poppins, sans-serif;
  font-size: 7.5rem;
  font-weight: bold;
  position: center;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 80px 0px 0px 0px;
}

.green,
.black {
  font-family: "Gilroy Semi-Bold", sans-serif;
}

.green {
  color: #268540;
}

.black {
  color: black;
}

.tagline {
  font-family: "Gilroy Light", sans-serif;
  font-size: 3rem;
  /*display:flex;*/
  margin: auto;
  justify-content: center;
  text-align: center;
}

.signUp,
.logIn {
  font-family: "Gilroy Light", sans-serif;
  background-color: #4e9c64;
  color: #ebe691;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 2rem;
  cursor: pointer;
}

.next {
  display: flex;
  width: 700px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.logIn {
  margin-left: 20px;
}

.signUp {
  margin-left: auto;
}

/*
.signUp,.logIn{
    justify-content: center;
    align-items: center;
}
*/

/*  
.logIn{
    margin:0px;
    justify-content: center;
    align-items: center;
}
*/

/*
.signUp,.logIn{
    background-color:#4E9C64;
    color:#EBE691;
    padding:1rem;
    width:10%;
    border-radius:2rem;
    font-size:1.4rem;
     text-decoration: none;
     text-align: center;
    border:none;
    font-family: Poppins,sans-serif;
    font-weight:bold;
}
*/

a:link {
  text-decoration: none;
}

.signUp:hover,
.logIn:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

/*
.signUp{
    margin-left:8rem;
    margin-top:4rem;
    margin-right: 3rem;
}
*/

/*
@media screen and (max-width:1300px)
{
    .text{
        margin-top:8rem;
        margin-left:0rem;
        font-size:5.8rem;
        text-align: center;
    }

    .tagline{
        text-align: center;
        margin-left:auto;
        margin-top:1rem;
    }


    .button1, .button2{
        width:50%;
        margin-left:25%;
        font-size:1.5rem;
        font-weight:bold;
    }

    .button2{
        margin-top:2rem;
    }
    

    .illustration{
        display:none;
    }
}


@media screen and (max-width:360px)
{
    .text{
        margin-top:8rem;
        font-size:5.8rem;
        text-align:center;
    }

    .tagline{
        text-align:center;
        margin-top:1rem;
        margin-left:30%;
    }

    .button1,.button2{
        width:50%;
        margin-left:40%;
        font-size:1.5rem;
        font-weight:bold;
    }
}


@media screen and (width:412px)
{
    .text{
        margin-top:8rem;
        font-size:5.8rem;
        text-align:center;
    }

    .tagline{
        text-align:center;
        margin-top:1rem;
        margin-left:20%;
    }

    .button1,.button2{
        width:50%;
        margin-left:35%;
        font-size:1.5rem;
        font-weight:bold;
    }

}

@media screen and (width:600px)
{
    .tagline{
        margin-left:auto;
        margin-top:1rem;
    }

    .button1, .button2{
        width:50%;
        margin-left:25%;
        font-size:1.5rem;
        font-weight: bold;
    }

    .button1{
        margin-top:4rem;
    }
}

@media screen and (width:320px)
{
    .tagline{
        text-align:center;
        margin-left:4rem;
        margin-right:-5rem;
    }

    .button1,.button2{
        width:50%;
        margin-left:50%;
    }
}

@media screen and (width:768px)
{
    .tagline{
        text-align:center;
        margin-left:auto;
        font-size:4rem;
    }

    .button1,.button2{
        margin-left:25%;
        font-size:2rem;
    }

    .button1{
        margin-top:4rem;
        margin-bottom:1rem;
    }
}

@media screen and (width:540px)
{
    .tagline{
        margin:auto;
    }

    .button1,.button2{
        margin-left:25%;
    }
}

@media screen and (width:1024px)
{
    .text{
        font-size:10rem;
    }

    
    .tagline{
        font-size:6rem;
        text-align:center;
        margin:auto;
    }

    .button1,.button2{
        margin-left:25%;
        font-size:2rem;
    }
  
    .button1{
        margin-top:5rem;
        margin-bottom:1rem;
    }
}

@media screen and (width:280px)
{
    .tagline{
        text-align: center;
        margin-left:2rem;
        margin-right:-10rem;
    }
    .button1,.button2{
        width:100%;
        margin-left:40%;
    }
}
*/
