* {
  margin: 0;
  padding: 0;
  color: #4e9c64;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilroy Dark";
  src: url("../assets/fonts/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy Semi-Bold";
  src: url("../assets/fonts/Gilroy-SemiBold.ttf");
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #ebe691;
}

nav {
  padding: 0px;
  background: #e5e5e5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
}

nav ul {
  float: right;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
}

nav li {
  padding-top: 15px;
  display: inline-block;
  line-height: 56px;
  margin: 0 15px;
}

.image1,
.image4,
.image3 {
  height: 35px;
}
.image2 {
  height: 40px;
}

.image1:hover,
.image4:hover,
.image2:hover,
.image3:hover {
  transform: scale(1.1);
}

.logOut {
  cursor: pointer;
  font-family: "Gilroy Semi-Bold";
  text-align: center;
  font-size: 20px;
  color: #e5e5e5;
  background: #4e9c64;
  border-radius: 30px;
  height: 35px;
  width: 150px;
  border: none;
  padding: 5px;
  position: relative;
  margin-top: 15px;
  margin-right: 20px;
  align-items: center;
  float: right;
  z-index: 0;
}

.logOut:hover,
.logOut:focus {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.btn {
  display: none;
  padding: 0px 10px 0px 20px;
  position: relative;
  margin-top: 15px;
  margin-right: 20px;
  align-items: center;
  float: right;
  z-index: 0;
}

.logo {
  float: left;
  margin: 15px 0px 15px 30px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Gilroy Dark";
}

.logo2 {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  font-family: "Gilroy Dark";
}

.container {
  margin-top: 70px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translate(20%, 0%);
  background: rgba(196, 196, 196, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-bottom: 10px;
}

.mainpfp {
  height: 125px;
}

.card-main {
  width: 100%;
  height: 150px;
  background-image: url(../assets/images/coverpic.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000;
  color: #000;
}

.name,
.bio {
  color: #000;
}

.name {
  font-family: "Gilroy Semi-Bold";
  font-size: 18px;
}

.profilePic {
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
  background-color: #c4c4c4;
  border-radius: 100%;
  border: 1px solid #000;
  color: #000;
  margin: auto;
}

.pfpImg {
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
}

.card2 {
  width: 30%;
  height: 40px;
  background-color: #dad8d8;
  border-radius: 20px;
  border: 1px solid #000;
  color: #000;
  margin-top: 50px;
  padding: 9px 20px 0px;
  text-align: center;
}
.card3 {
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #dad8d8;
  border-radius: 20px;
  border: 1px solid #000;
  color: #000;
}

.card {
  width: 90%;
  height: auto;
  background-color: #dad8d8;
  border-radius: 20px;
  border: 1px solid #000;
  color: #000;
}

.card-header {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  height: 20%;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eee3e3;
}

.dot {
  background-color: pink;
  border-radius: 50%;
  padding: 10px;
  height: 30px;
  width: 30px;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 10px;
  padding: 6px;
  font-family: "Gilroy Semi-Bold";
}

.like {
  display: flex;
  align-items: center;
  padding: 4px;
  height: 30px;
  font-size: 20px;
}

.icon {
  height: 30px;
}

.icon > img {
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  justify-content: flex-start;
}

.right-section {
  display: flex;
  justify-content: flex-end;
}

.card-body {
  background-color: #c4c4c4;
  height: auto;
  width: 100%;
  margin-top: 0px;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  align-items: center;
  justify-content: center;
}

.card-caption {
  display: flex;
  word-break: break-word;
  min-height: 30px;
  padding: 4px;
  width: 100%;
  color: #000;
  font-size: 16px;
}

.post-img {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Gilroy Dark";
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 1100px) {
  nav ul {
    position: fixed;
    width: 40%;
    height: 100vh;
    top: 60px;
    left: 100%;
    text-align: center;
    background-color: #2c3e50;
    transition: all 1s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
    color: #4e9c64;
  }
  .btn {
    padding-right: 10px;
    display: block;
  }
  .logOut {
    float: right;
    margin-left: 30px;

    width: 200px;
    margin-top: 20px;
  }

  .card2,
  .card3 {
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    display: none;
  }

  .logOut {
    float: left;
    margin-left: 30px;
    width: 200px;
    margin-top: 20px;
  }

  .card2,
  .card3 {
    padding: 10px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .logOut {
    float: left;
    margin-left: 30px;
    width: 150px;
    margin-top: 20px;
  }
}
